/*html {height: 100%; width: 100%; }
body { padding: 0px; margin: 0px; width: 100%; height: 100%; }*/
.ui-datepicker { font: 90% "Trebuchet MS", sans-serif; }
.container1040 { margin: 0 auto; max-width: 1040px; }
.container1160 { margin: 0 auto; max-width: 1160px; }
.container1180 { margin: 0 auto; max-width: 1180px; }
.desktop { display: block; }
.mobile { display: none; }
h1, h2, h3, h4, p { margin: 0; padding: 0; }
a { text-decoration: none; outline: none; color: unset; }
textarea { resize: none; }
.pointer { cursor: pointer !important; }
.img-responsive { display: block; height: auto; width: auto; max-width: 100%; }
*:focus { outline: none; }
.clear { clear: both; }
.error { color: red; font-size: 13px; }
.width100 { width: 100%; }
.bold { font-weight: 500; }
.floatleft { float: left; }
.floatright { float: right; }
.textalignleft { text-align: left !important }
.textalignright { text-align: right !important }
.textaligncenter { text-align: center !important }
.block { display: inline-block; }
.inline-block { display: inline-block; }
.positionRelative { position: relative; }
.positionAbsolute { position: absolute; }
.absoluteCenter { left: 0; right: 0; text-align: center; position: absolute; }
.blue { color: #247cb7 !important; }
.red { color: #cc2026 !important; }
.maroon { color: #6d0f19 !important; }
.white { color: #fff !important; }
.darkgrey { color: #232222 !important; }
.shadowRedTxt { text-shadow: 0px 1px 1px #5c5c5c; }

.padding0 { padding: 0px !important; }
.padding5 { padding: 5px !important; }
.padding10 { padding: 10px !important; }
.padding15 { padding: 15px !important; }
.padding20 { padding: 20px !important; }
.padding25 { padding: 25px !important; }
.padding30 { padding: 30px !important; }
.paddingright5 { padding-right: 5px !important; }
.paddingright10 { padding-right: 10px !important; }
.paddingright15 { padding-right: 15px !important; }
.paddingright20 { padding-right: 20px !important; }
.paddingright30 { padding-right: 30px !important; }
.paddingright80 { padding-right: 80px !important; }
.paddingleft5 { padding-left: 5px !important; }
.paddingleft10 { padding-left: 10px !important; }
.paddingleft15 { padding-left: 15px !important; }
.paddingleft20 { padding-left: 20px !important; }
.paddingleft30 { padding-left: 30px !important; }
.paddingleft50 { padding-left: 50px !important; }
.paddingtop5 { padding-top: 5px !important; }
.paddingtop10 { padding-top: 10px !important; }
.paddingtop15 { padding-top: 15px !important; }
.paddingtop20 { padding-top: 20px !important; }
.paddingtop30 { padding-top: 30px !important; }
.paddingtop50 { padding-top: 50px !important; }
.paddingtop70 { padding-top: 70px !important; }
.paddingbtm5 { padding-bottom: 5px !important; }
.paddingbtm10 { padding-bottom: 10px !important; }
.paddingbtm15 { padding-bottom: 15px !important; }
.paddingbtm20 { padding-bottom: 20px !important; }
.paddingbtm30 { padding-bottom: 30px !important; }
.paddingbtm50 { padding-bottom: 50px !important; }
.marginright5 { margin-right: 5px !important; }
.marginright10 { margin-right: 10px !important; }
.marginright15 { margin-right: 15px !important; }
.marginright20 { margin-right: 20px !important; }
.marginright30 { margin-right: 30px !important; }
.marginright60 { margin-right: 60px !important; }
.marginright80 { margin-right: 80px !important; }
.margin0 { margin: 0px !important; }
.margin5 { margin: 5px !important; }
.margin10 { margin: 10px !important; }
.margin15 { margin: 15px !important; }
.margin20 { margin: 20px !important; }
.margin25 { margin: 25px !important; }
.margin30 { margin: 30px !important; }
.marginleft5 { margin-left: 5px !important; }
.marginleft10 { margin-left: 10px !important; }
.marginleft15 { margin-left: 15px !important; }
.marginleft20 { margin-left: 20px !important; }
.marginleft30 { margin-left: 30px !important; }
.marginleft50 { margin-left: 50px !important; }
.margintop5 { margin-top: 5px !important; }
.margintop10 { margin-top: 10px !important; }
.margintop15 { margin-top: 15px !important; }
.margintop20 { margin-top: 20px !important; }
.margintop25 { margin-top: 25px !important; }
.margintop30 { margin-top: 30px !important; }
.margintop40 { margin-top: 40px !important; }
.margintop50 { margin-top: 50px !important; }
.margintop60 { margin-top: 60px !important; }
.margintop100 { margin-top: 100px !important; }
.marginbtm5 { margin-bottom: 5px !important; }
.marginbtm10 { margin-bottom: 10px !important; }
.marginbtm15 { margin-bottom: 15px !important; }
.marginbtm20 { margin-bottom: 20px !important; }
.marginbtm30 { margin-bottom: 30px !important; }
.marginbtm40 { margin-bottom: 40px !important; }
.marginbtm50 { margin-bottom: 50px !important; }
.marginbtm60 { margin-bottom: 60px !important; }
.marginbtm70 { margin-bottom: 70px !important; }
.displayblock { display: block; }
.displayinline { display: inline; }
.displayinlineblock { display: inline-block; }
.displaynone { display: none; }
.padding0030 { padding-top: 0px;  padding-bottom: 30px }
.padding0060 { padding-top: 0px;  padding-bottom: 60px }
.padding3030 { padding-top: 30px; padding-bottom: 30px }
.padding6060 { padding-top: 60px; padding-bottom: 60px }
.padding3060 { padding-top: 30px; padding-bottom: 60px }
.padding6030 { padding-top: 60px; padding-bottom: 30px }
.paddingleft67 { padding-left:67px; }
.justify{text-align: justify !important}

/* FLEX */
.flex { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
.flexResponsive, .flexResponsive480, .flexResponsive580 { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
.flexWeird { -webkit-flex:1 0 auto; }
.flex1 { flex: 1; }
.flex2 { flex: 2; }
.flex3 { flex: 3; }
.flex4 { flex: 4; }
.flex5 { flex: 5; }
.flex6 { flex: 6; }
.flex100 { flex: 100% !important; }
.order1 { order: 1; }
.order2 { order: 2; }
.flexDirectionRow { -moz-box-direction: row; -webkit-box-direction: row; -webkit-box-orient: horizontal; -webkit-flex-direction: row; -ms-flexbox-direction: row; -ms-flex-direction: row; flex-direction: row; }
.flexDirectionCol { -moz-box-direction: column; -webkit-box-direction: column; -webkit-box-orient: vertical; -webkit-flex-direction: column; -ms-flexbox-direction: column; -ms-flex-direction: column; flex-direction: column; }

.flexWrap { -moz-box-wrap: wrap; -webkit-box-wrap: wrap; -ms-flexbox-wrap: wrap; flex-wrap: wrap; }
.flexNoWrap { -moz-box-wrap: nowrap; -webkit-box-wrap: nowrap; -ms-flexbox-wrap: nowrap; flex-wrap: nowrap; }
.flexWrapReverse { -moz-box-wrap: wrap-reverse; -webkit-box-wrap: wrap-reverse; -ms-flexbox-wrap: wrap-reverse; flex-wrap: wrap-reverse; }

.flexJustifyBetween { -webkit-justify-content: space-between; -ms-flex-pack: space-between; justify-content: space-between; }
.flexJustifyAround { -webkit-justify-content: space-around; -ms-flex-pack: space-around; justify-content: space-around; }
.flexJustifyStart { -webkit-justify-content: flex-start; -ms-flex-pack: flex-start; justify-content: flex-start; }
.flexJustifyEnd { -webkit-justify-content: flex-end; -ms-flex-pack: flex-end; justify-content: flex-end; }
.flexJustifyCenter { -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.flexAlignItemsCenter { -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.flexAlignItemsBaseline { -webkit-align-items: baseline; -ms-flex-align: baseline; align-items: baseline; }
.flexAlignItemsStart { -webkit-align-items: flex-start; -ms-flex-align: flex-start; align-items: flex-start; }
.flexAlignItemsEnd { -webkit-align-items: flex-end; -ms-flex-align: flex-end; align-items: flex-end; }
.flexAlignItemsStretch { -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }

.flexAlignContentCenter { -webkit-box-align-content: center; -webkit-align-content: center; -ms-flex-align-content: center; align-content: center; }
.flexAlignContentAround { -webkit-box-align-content: space-around; -webkit-align-content: space-around; -ms-flex-align-content: space-around; align-content: space-around; }
.flexAlignContentStart { -webkit-box-align-content: flex-start; -webkit-align-content: flex-start; -ms-flex-align-content: flex-start; align-content: flex-start; }
.flexAlignContentEnd { -webkit-box-align-content: flex-end; -webkit-align-content: flex-end; -ms-flex-align-content: flex-end; align-content: flex-end; }
.flexAlignContentBetween { -webkit-box-align-content: space-between; -webkit-align-content: space-between; -ms-flex-align-content: space-between; align-content: space-between; }
.flexAlignContentStretch { -webkit-box-align-content: stretch; -webkit-align-content: stretch; -ms-flex-align-content: stretch; align-content: stretch; }
/* FLEX */

/*CUSTOM RADIO AND CHECKBOX*/
.customRadio input[type="checkbox"]:not(old),
.customRadio input[type="radio"]:not(old)
{ margin: 0; padding: 0; opacity: 0; }
.customRadio input[type="checkbox"]:not(old) + label,
.customRadio input[type="radio"]:not(old) + label
{ margin-left: -21px; cursor: pointer; }
.customRadio input[type="checkbox"]:not(old) + label > span
{ border: 2px solid #90c03e; border-radius: none; display: inline-block; height: 16px; margin-right: 10px; vertical-align: bottom; width: 16px; }
.customRadio input[type="radio"]:not(old) + label > span
{ border: 2px solid #90c03e; border-radius: 20px; display: inline-block; height: 16px; margin-right: 10px; vertical-align: bottom; width: 16px; }
.customRadio input[type="checkbox"]:checked:not(old) + label > span:before
{ content: '✓'; display: block; width: 1em; color: rgb(153, 204, 102); font-size: 17px; line-height: 1em; text-align: center; text-shadow: 0 0 0.0714em rgb(115, 153, 77); font-weight: bold; }
.customRadio input[type="radio"]:checked:not(old) + label > span > span
{ background-color: #90c03e; border-radius: 20px; display: block; height: 8px; margin: 4px; width: 8px; }
/*CUSTOM RADIO AND CHECKBOX*/

/*CUSTOM STAR RATIING*/
.starRating:not(old)
{ display: inline-block; height: 22px; overflow: hidden; vertical-align: bottom; width: 150px; }
.starRating:not(old) > input
{ margin-right: -100%; opacity: 0; }
.starRating:not(old) > label
{ display: block; float: right; position: relative; background: url("../images/star-off.png"); background-size: contain; margin-right: 7px; }
.starRating:not(old) > label:before
{ content: ''; display: block; width: 22px; height: 22px; background: url("../images/star-on.png"); background-size: contain; opacity: 0; transition: opacity 0.2s linear; }
.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before { opacity : 1; }
/*CUSTOM STAR RATIING*/

/* CUSTOM DROPDOWN */
*, *:after, *:before { padding: 0; margin: 0; }
.customDropdown {
    /* Size & position */ position: relative; width: 200px; margin: 0 auto; padding: 12px 15px;  /* Styles */ background: #fff; border-radius: 5px; box-shadow: 0 1px 0 rgba(0,0,0,0.2); cursor: pointer; outline: none; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out;
}
.customDropdown:after { /* Little arrow */
    content: ""; width: 0; height: 0; position: absolute; top: 50%; right: 15px; margin-top: -3px; border-width: 6px 6px 0 6px; border-style: solid; border-color: #4cbeff transparent;
}
.customDropdown .dropdown {
    /* Size & position */ position: absolute; z-index: 1; top: 100%; left: 0; right: 0;  /* Styles */ background: #fff; border-radius: 0 0 5px 5px; border: 1px solid rgba(0,0,0,0.2); border-top: none; border-bottom: none; list-style: none; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out;  /* Hiding */ max-height: 0; overflow: hidden;
}
/* CUSTOM DROPDOWN */
.customDropdown .dropdown li { padding: 3px 10px ; }
.customDropdown .dropdown li a { display: block; text-decoration: none; color: #333; padding: 10px 0; transition: all 0.3s ease-out; border-bottom: 1px solid #e6e8ea; }
.customDropdown .dropdown li:last-of-type a { border: none; }
.customDropdown .dropdown li i { margin-right: 5px; color: inherit; vertical-align: middle; }
/* Hover state */
.customDropdown .dropdown li:hover a { color: #57a9d9; }
/* Active state */
.customDropdown.active { border-radius: 5px 5px 0 0; background: #4cbeff; box-shadow: none; border-bottom: none; color: white; }
.customDropdown.active:after { border-color: #82d1ff transparent; }
.customDropdown.active .dropdown { border-bottom: 1px solid rgba(0,0,0,0.2); max-height: 400px; }

input[type=number] { -moz-appearance: textfield; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
/* CUSTOM DROPDOWN */
body, .header, .post-content, .modal-content, #page-loader.loader-white .loader-part, .panel-body, .expandAll .panel-heading { background-color: #FFF7E9; }
.header { box-shadow: 0px 0px 4px  #ccc; }
.sep-primary { background-color: #6d0f19; }
.logo img { width: 160px; }
.expandAllContent { display: none; }
.expandAll .panel-heading { cursor: pointer; }
.expandAll .panel-heading:hover, .expandAll .panel-heading.active { background-color: #cc2026; color: #fff; }
.contentPopup { max-width: 90%; height: 85vh; overflow: auto; }
.bx-wrapper{ border: none; box-shadow: none; }
#galleryPager { margin-bottom: 30px; }
#galleryPager img { display: inline-block; height: auto; max-width: 9%; min-width: 55px; width: auto; }
.bottomQuestion { background-image: url('../images/backgrounds/question-bg.jpg'); background-size: cover; }
#mapCanvas { width: 100%; height: 30vh; }
.floatingEnquiry { background-color: #ab0005; color: #fff; display: block; font-weight: 700; padding: 12px 20px; position: fixed; right: -59px; top: 40%; z-index: 999;  -ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg); }
.floatingEnquiry:hover { color: #fff; }
.pageHeadingBar { min-height: 350px; padding-top: 100px; }
.pageSubHeading { display: inline-block; font-size: 15px; margin-top: 20px; }
.post-content h5.post-title { font-size: 16px; height: 17px; overflow: hidden; margin-bottom: 10px; }
.post-content .post-meta { font-size: 11px; height: 27px; line-height: 20px; margin-bottom: 10px; overflow: hidden; padding-bottom: 10px; }
.post-content .font-alt { height: 79px; overflow: hidden; }
.galleryPage h2 { font-size: 31px; font-weight: 500; margin-top: 60px; }
.videoGallery { text-align: center; }
.testimonial-author .readMore { text-transform: capitalize; display: block; }
.testimonial-author:hover .readMore { color: #cc2026; }

h4 { line-height: 30px; }
.innovationsBlock { border: 5px double rgb(204, 33, 38); border-radius: 15px; padding: 30px 30px 23px; margin-bottom: 20px; }
.nav-sidebar li:nth-child(2n) a { background-color: #F5EDDF; }
.bg-grey { background-color: #e8e0d2; }
.testimonial-content { min-height: 92px; }
.testimonial-content.bg-grey::before { border-color: #e8e0d2 transparent transparent; }
.form-control { background: #ede5d7; }
.imgQuote img { display: block; border-bottom: 1px solid #cc2026; width: 100%; margin: 1px 0 6%; }
.header.wide { padding: 0 5%; }
.nav-main > li { margin-right: 27px; }
.keshavImg img { max-width: 300px; }
.ytThumb img { max-width: 80%; margin-bottom: 50px; display: inline-block; }

/*BANNER*/
.homeBanner .bx-wrapper { margin-bottom: 0; }
.homeBanner .bx-wrapper img { width: 100%; }
.homeBanner .bx-wrapper .bx-pager { padding-top: 0; bottom: 4%; }
.homeBanner .bx-wrapper .bx-pager.bx-default-pager a { background: #f7f7f7; height: 9px; width: 9px; }
.homeBanner .bx-wrapper .bx-pager.bx-default-pager a:hover, .homeBanner .bx-wrapper .bx-pager.bx-default-pager a.active, .homeBanner .bx-wrapper .bx-pager.bx-default-pager a:focus { background: #ab0005; }
.bannerCaptionContainer { background-color: rgba(84,7,18,0.85); padding: 6%; }
.bannerCaption h4, .bannerCaption h5 { color: #fff; font-weight: 700; text-shadow: 0px 1px 1px #5c5c5c; }
.bannerCaption h4 {  margin-bottom: 10px; font-size: 36px; text-transform: uppercase; }
.bannerCaption h5 { font-size: 24px; text-transform: unset; }
.bannerCaption .pointers { color: #fff; font-size: 14px; text-shadow: 1px 1px 1px #000; line-height: 30px; }
.bannerCaption a.btn{ margin-top: 20px; }
.bannerCaption .sep, .title-bar .sep { background-color: #fff; margin: 6px 0; }
.bannerCaption .owl-carousel .owl-item {
    -webkit-animation-duration: 0.1s !important;
    animation-duration: 0.1s !important;
}
/*BANNER*/

/*HOME-CONTENT*/
.homeContent { padding-bottom: 0; /*background-image: url('../images/himalai-home-bg.png'); background-position: 0 2px; background-repeat: no-repeat; background-size: contain;*/ }
.homeContent h2 { margin-bottom: 0; font-weight: 400; font-size: 24px; line-height: 35px; text-transform: uppercase; }
.homeContent h2 b, .homeContent h2 strong { font-weight: 500; }
.homeContent .listSubTitle { color: #cc2026; font-size: 17px; margin-bottom: 10px; font-weight: 500; }
.homeContent .list { font-size: 15px; line-height: 26px; background-image: url('../images/bg-list.png'); background-position: 0 6px; background-repeat: no-repeat; list-style: outside none none; padding-left: 22px; margin-bottom: 10px; }
.homeContent .heading { font-size: 26px; color: #cc2026; margin-bottom: 20px; }
.homeContent .subHeading { color: #cc2026; font-size: 15px; margin-bottom: 10px; }
.homeContent ul, .homeContent ol { padding-left: 14px; margin: 15px 0; }
.homeContent .desc { font-size: 14px; line-height: 27px; margin-bottom: 40px; }
.homeContent a.btn { margin-bottom: 40px; }
.ancmnt h2, .ancmnt h5, .ancmnt .desc, .ancmnt .list { color: #fff; }
.ancmntA { /*border: 5px double rgb(204, 33, 38);*/  /*padding: 30px 30px 0;*/ }
.ancmntA .innerBoxShadow { border-radius: 15px; box-shadow: 1px 1px 10px #999999; background-color: rgba(171, 0, 5, 0.7); padding: 30px 30px 48px; }
.homeContent .ancmntA a.btn { margin-bottom: 0; }
.ancmntB { /*border: 5px double rgb(204, 33, 38);*/  /*padding: 30px 30px 22px;*/ }
.ancmntB .innerBoxShadow { border-radius: 15px; box-shadow: 1px 1px 10px #999999; background-color: rgba(171, 0, 5, 0.7); padding: 30px; }
/*HOME-CONTENT*/

/*PAGE-CONTENT*/
.cms { margin: 0 0 40px; }
.pageContent .heading { font-size: 26px; color: #cc2026; margin-bottom: 20px; }
.pageContent .desc { font-size: 14px; line-height: 27px; margin-bottom: 40px; }
.pageContent .desc a { color: #6d0f19; }
.pageContent .desc a:hover { color: #cc2026; }
.pageContent ul, .pageContent ol { padding-left: 14px; margin: 15px 0; }
.pageContent ul li, .pageContent ol li {  }
.pageContent a.btn-primary { color: #333; }
.pageContent a:hover.btn-primary { color: #fff; }
.pageContent .subHeading { border-bottom: 1px solid #e5e5e5; color: #cc2026; font-size: 18px; line-height: 36px; margin-bottom: 15px; }
.pageContent caption { background-color: #232222; color: #fff; font-weight: 500; text-align: center; text-transform: uppercase; }
.modal-header { border-bottom: 2px solid #6d0f19; }
.modal-header .modal-title, .modal-header .popupClose { color: #cc2026; opacity: 1; font-weight: 700; }
/*PAGE-CONTENT*/

/*QUESTIONS*/
.questionPapers .gallery-item-title { height: 60px; padding-top: 10px; }
.questionPapers .gallery-item-title h6 { font-size: 12px; }
.questionPapers .gallery-item-overlay::before { height: 40px; margin-bottom: -20px; }
.questionPapers .gallery-item-overlay::after { width: 40px; margin-left: -20px; }
.questionPapers .gallery-item-image { text-align: center; }
.questionPapers .gallery-item-image .pdfPlaceholder { font-size: 40px; }
/*QUESTIONS*/

@media only screen and (max-width : 768px) {
	.desktop { display: none; }
	.mobile { display: block; }
	.flexResponsive { display: block; }
	.mobileAutoCenter { margin: 0 auto; }
	.padding0030 { padding-top: 0px;  padding-bottom: 25px }
	.padding0060 { padding-top: 0px;  padding-bottom: 40px }
	.padding3000 { padding-top: 25px; padding-bottom: 0px }
	.padding3030 { padding-top: 25px; padding-bottom: 25px }
	.padding6060 { padding-top: 40px; padding-bottom: 40px }
	.padding3060 { padding-top: 25px; padding-bottom: 40px }
	.padding6030 { padding-top: 40px; padding-bottom: 25px }
	.homeContent h2 { font-size: 22px; line-height: 30px; text-transform: none; }
	.homeContent .listSubTitle { margin-bottom: 20px; margin-top: 20px; }
	.homeContent .heading { font-size: 22px; }
	.ancmntA { margin-bottom: 20px; }
	.ancmntA .innerBoxShadow, .ancmntB .innerBoxShadow { padding: 20px; }
	.homeContent .ancmntA a.btn { margin-bottom: 35px; }
	.ancmntB { border: none; padding: 0 15px; }
	.innovationsBlock { border: none; padding: 0; margin-bottom: 0; }
	#mapCanvas { width: 100%; height: 50vh; }
	.pageContent .heading { font-size: 23px; }
	.pageHeadingBar { min-height: auto; padding-bottom: 15%; padding-top: 15%; }
	.post-content .font-alt { height: auto; }
	.post-content h5.post-title { height: auto; }
	.post-content .post-meta { line-height: unset; height: auto; }
	.galleryPage h2 { font-size: 26px; margin-top: 40px; }
	.videoGallery .item { margin-bottom: 20px; }
	.videoGallery .item:LAST-CHILD { margin-bottom: 0; }
}


@media only screen and (min-width : 950px) and (max-width : 1180px) {  }
@media only screen and (min-width : 768px) and (max-width : 1024px) {  }
@media only screen and (min-width : 767px) and (max-width : 880px) {  }
@media only screen and (min-width : 641px) and (max-width:767px) {  }
@media only screen and (max-width : 680px) {  }
@media only screen and (max-width : 641px) {  }

@media only screen and (max-width : 580px) {
	.flexResponsive580 { display: block; }
	.bannerCaption h4 { font-size: 30px; }
	.bannerCaption h5 { font-size: 20px; }
}

@media only screen and (max-width : 480px) {
	.flexResponsive480 { display: block; }
	.bannerCaption h4 { font-size: 22px; }
	.bannerCaption h5 { font-size: 15px; }
	h5.panel-title { font-size: 14px; }
	h4 { font-size: 20px; }
}
@media only screen and (min-width : 421px) and (max-width : 680px) {  }
@media only screen and (max-width : 420px) {
	h2 { font-size: 30px; }
}
